<nav [class]="(isExplode) ? 'pnl-menu pnl-menu-implode' : 'pnl-menu'">
  <div class="pnl-menu-logo">
    <span>Star Portal</span>
  </div>
  <ul class="pnl-menu-content">
    <li routerLink="/course">
      <span>課程</span>
      <span class="fas fa-book"></span>
    </li>
    <li routerLink="/teacher">
      <span>師資</span>
      <span class="fas fa-chalkboard-teacher"></span>
    </li>
    <li routerLink="/student">
      <span>學員</span>
      <span class="fas fa-graduation-cap"></span>
    </li>
  </ul>
</nav>