@import "../../../scss/custom";

@media screen and (min-width: 796px)
{
    .pnl-menu-implode{
        .pnl-menu-logo span{
            display: none;
        }
        .pnl-menu-content li span:first-child{
            display: none;
        }
    }
}

@media screen and (max-width: 795px)
{
    .pnl-menu-implode{
        .pnl-menu-logo{
            display: none;
        }
    }
}

.pnl-menu{
    .pnl-menu-logo{
        cursor: pointer;
        background-color: $bg-color-3;
        line-height: 0;
        height: 50px;
        padding-left:20px;
        span{
            font-size: 30px;
            line-height: 50px;
        }
    }
    .pnl-menu-content{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            cursor: pointer;
            padding: 15px;
            span{
                padding-left: 10px;
            }
        }
        li:hover{
            background-color: $bg-color-3;
        }
    }
}