header{
    display: grid;
    grid-template-columns: auto auto;
    line-height: 50px;
    padding-right: 15px;
    
    .pnl-controls{
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .pnl-user{
        grid-column-start: 2;
        grid-column-end: 2;
        text-align: right;
    }
    span{
        padding-left: 10px;
        cursor: pointer;
    }
}