/* You can add global styles to this file, and also import other style files */
@import "~node_modules/bootstrap/scss/bootstrap.scss";
@import "_custom.scss";

html, body{
    width:100%;
    height:101%;
    font-family: 'microsoft yahei';
}
h2{
    font-family: 'microsoft yahei';
}
.btn{
    border-radius: 0;
    span:first-child{
        margin-right: 10px;
    }
}
.form-control{
    border-radius: 0;
}
.txt-page-title{
    border-bottom: 5px solid $bg-color-1;
    padding-bottom: 5px;
    span{
        margin-right:5px;
    }
}