<h3 class="txt-page-title">
  <span>課程列表</span>
  <a class="btn btn-sm btn-primary" routerLink="/course/create">
    <span class="fas fa-plus"></span>
    <span>新增</span>
  </a>
</h3>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>年</th>
      <th>季</th>
      <th>名稱</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses">
      <td>{{ course.year }}</td>
      <td>{{ course.season }}</td>
      <td>{{ course.name }}</td>
      <td>
        <a class="btn btn-sm btn-secondary" routerLink="/course/detail/{{ course.id }}">
          <span class="fas fa-eye"></span>
          <span>瀏覽</span>
        </a>
        <a class="btn btn-sm btn-secondary" routerLink="/course/edit/{{ course.id }}">
          <span class="fas fa-edit"></span>
          <span>修改</span>
        </a>
        <button type="button" class="btn btn-sm btn-danger">
          <span class="fas fa-trash-alt"></span>
          <span>刪除</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>